@using Codeer.LowCode.Blazor.OperatingModel
@inherits FieldComponentBase<NumberField>

<div class="d-flex align-items-center">
    <RadzenNumeric TValue="decimal?" @bind-Value:get="@MoreThanValue" @bind-Value:set="@OnMoreThanChanged" class="flex-grow-1" data-search-target="min" />
  <span>～</span>
    <RadzenNumeric TValue="decimal?" @bind-Value:get="@LessThanValue" @bind-Value:set="@OnLessThanChanged" class="flex-grow-1" data-search-target="max" />
</div>

@code {

  private decimal? LessThanValue => Field.SearchMax;
  private decimal? MoreThanValue => Field.SearchMin;

  private async Task OnMoreThanChanged(decimal? value) {
    await Field.SetSearchMinAsync(value);
  }

  private async Task OnLessThanChanged(decimal? value) {
    await Field.SetSearchMaxAsync(value);
  }
}