@using Codeer.LowCode.Blazor.OperatingModel
@using Codeer.LowCode.Blazor.Repository.Match
@using Codeer.LowCode.Bindings.Radzen.Blazor.Internal
@inherits FieldComponentBase<TextField>

<div class="d-flex">
  <RadzenTextBox @bind-Value:get="Value" @bind-Value:set="OnChange" class="flex-grow-1"/>
  <MatchConditionDropdown @bind-MatchComparison:get="Comparison" @bind-MatchComparison:set="@OnComparisonChange" />
</div>

@code {

  private string? Value => Field.SearchValue;
  private MatchComparison Comparison => Field.SearchComparison;

  private async Task OnChange(string? value)
  {
    await Field.SetSearchValueAsync(value);
  }
  
  private async Task OnComparisonChange(MatchComparison value)
  {
    await Field.SetSearchComparisonAsync(value);
  }

}