@inherits FieldComponentBase<RadioGroupField>

<span class="d-block py-2">
  @ViewOnlyValue
</span>

@code {
  private object? ViewOnlyValue => Field.Services.AppInfoService.IsDesignMode ? "RadioGroup" : Field.Value;
}