::deep input,
::deep button,
::deep label {
    background: inherit;
    color: inherit;
}

div {
  height: inherit;
}

img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: contain;
}

div.cover img {
  object-fit: cover;
}
